/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.cpcache
/.lein-*
/.nrepl-history
/.nrepl-port
.hgignore
.hg/

# Calva + linting
.calva
.clj-kondo
.lsp

# Image output files
*.png

# ClojureScript
package-lock.json
package.json
/out
.cljs_node_repl
node_modules
