/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.cpcache
/.lein-*
/.nrepl-history
/.nrepl-port
.hgignore
.hg/

# VSCode stuff
.calva
.clj-kondo
.lsp
.vscode/

# Image output files
# TODO: Generated PNG files should go in target/ directory
# *.png

# ClojureScript
package-lock.json
package.json
/out
.cljs_node_repl
node_modules
cljs-test-runner-out
