{:paths ["src/main"]
 :deps {org.clojure/clojure           {:mvn/version "1.10.2"}
        org.clojure/clojurescript     {:mvn/version "1.10.764"
                                       :exclusions  [org.clojure/data.json]}
        org.clojure/data.json         {:mvn/version "1.0.0"} ; clj only
        com.yetanalytics/xapi-schema ; Latest commit: 1/28/21
        {:git/url    "git@github.com:yetanalytics/xapi-schema.git"
         :sha        "0e552227e74913d1b35dfa648407b9a9ac4b6b00"
         :exclusions [org.clojure/clojure
                      org.clojure/clojurescript
                      org.clojure/data.json]}
        com.yetanalytics/project-pan ; Latest commit: 2/3/21
        {:git/url    "git@github.com:yetanalytics/project-pan.git" 
         :sha        "abc26a7a2c30be9e26009e945a402f913842e8d3"
         :exclusions [org.clojure/clojure
                      org.clojure/clojurescript
                      org.clojure/data.json
                      com.yetanalytics/xapi-schema]}
        com.yetanalytics/pathetic ; Latest commit: 2/26/21
        {:git/url "git@github.com:yetanalytics/pathetic.git"
         :sha     "71c0c1e0d3ee1e351550ec2293ea5ddce29e2321"
         :exclusions [org.clojure/clojure
                      org.clojure/clojurescript
                      org.clojure/data.json
                      com.yetanalytics/xapi-schema]}}
 :aliases
 {:dev
  {:extra-paths ["src/dev"]
   :extra-deps  {cider/piggieback {:mvn/version "0.5.2"} ; cljs only
                 dorothy/dorothy  {:mvn/version "0.0.7"}
                 criterium/criterium {:mvn/version "0.4.6"}}}
  :test
  {:extra-paths ["src/test" "src/gen" "test-resources"]
   :extra-deps  {org.clojure/test.check  {:mvn/version "1.1.0"}
                 olical/cljs-test-runner {:mvn/version "3.8.0"
                                          :exclusions  [org.clojure/clojurescript
                                                        org.clojure/data.json]}
                 com.cognitect/test-runner
                 {:git/url "https://github.com/cognitect-labs/test-runner"
                  :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}
                 com.yetanalytics/datasim
                 {:git/url    "git@github.com:yetanalytics/datasim.git"
                  :sha        "09748698bbdbb29934e3970dca66b0aa98c9271c"
                  :exclusions [org.clojure/test.check
                               com.yetanalytics/project-pan
                               com.yetanalytics/xapi-schema]}}}
  :runner-clj
  {:main-opts  ["-m" "cognitect.test-runner"
                "-d" "src/test"]}
  :runner-cljs
  {:main-opts   ["-m" "cljs-test-runner.main"
                 "-d" "src/test"
                 "-c" "build.test.edn"]}
  :runner-gen-clj
  {:main-opts  ["-m" "cognitect.test-runner"
                "-d" "src/gen"]}
  :runner-gen-cljs
  {:main-opts   ["-m" "cljs-test-runner.main"
                 "-d" "src/gen"
                 "-c" "build.test.edn"]}
  :runner-coverage
  {:extra-deps {cloverage/cloverage {:mvn/version "1.2.2"}}
   :main-opts  ["-m" "cloverage.coverage"
                "-p" "src/main"
                "-s" "src/test"]}}
 :mvn/repos {"jitpack" {:url "https://jitpack.io"}}}
