{:paths ["src/main"]
 :deps {org.clojure/clojure           {:mvn/version "1.10.2"}
        org.clojure/clojurescript     {:mvn/version "1.10.764"
                                       :exclusions  [org.clojure/data.json]}
        org.clojure/core.match        {:mvn/version "0.3.0"}
        org.clojure/data.json         {:mvn/version "1.0.0"} ; clj only
        com.jayway.jsonpath/json-path {:mvn/version "2.5.0"} ; clj only
        com.yetanalytics/xapi-schema ; Latest commit: 1/28/21
        {:git/url    "git@github.com:yetanalytics/xapi-schema.git"
         :sha        "0e552227e74913d1b35dfa648407b9a9ac4b6b00"
         :exclusions [org.clojure/clojure
                      org.clojure/clojurescript
                      org.clojure/data.json]}
        com.yetanalytics/project-pan ; Latest commit: 2/3/21
        {:git/url    "git@github.com:yetanalytics/project-pan.git" 
         :sha        "abc26a7a2c30be9e26009e945a402f913842e8d3"
         :exclusions [org.clojure/clojure
                      org.clojure/clojurescript
                      org.clojure/core.match
                      org.clojure/data.json
                      com.yetanalytics/xapi-schema]}}
 :aliases
 {:dev
  {:extra-paths ["src/dev"]
   :extra-deps  {cider/piggieback {:mvn/version "0.5.2"} ; cljs only
                 dorothy/dorothy  {:mvn/version "0.0.7"}}}
  :test
  {:extra-paths ["src/test" "test-resources"]
   :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner-clj
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "src/test"]}
  :runner-cljs
  {:extra-deps  {olical/cljs-test-runner {:mvn/version "3.8.0"}}
   :main-opts   ["-m" "cljs-test-runner.main"
                 "-d" "src/test"
                 "-c" "build.test.edn"]}}
 :mvn/repos {"jitpack" {:url "https://jitpack.io"}}}
