{:paths ["src/main"]
 :deps {org.clojure/clojure       {:mvn/version "1.10.2"}
        org.clojure/clojurescript {:mvn/version "1.10.764"
                                   :exclusions  [org.clojure/data.json]}
        com.yetanalytics/xapi-schema ; Latest commit: 3/26/21
        {:git/url    "https://github.com/yetanalytics/xapi-schema.git"
         :sha        "77f78d1713e50e7b8610f58b5137695b0fccddaa"
         :exclusions [org.clojure/clojure
                      org.clojure/clojurescript
                      org.clojure/data.json]}
        com.yetanalytics/project-pan ; Latest commit: 4/7/21
        {:git/url    "https://github.com/yetanalytics/project-pan.git"
         :sha        "db90b60f90908de6c2a66928ea59654a8abeaead"
         :exclusions [org.clojure/clojure
                      org.clojure/clojurescript
                      org.clojure/data.json
                      com.yetanalytics/xapi-schema]}
        com.yetanalytics/pathetic {:mvn/version "0.3.2"
                                   :exclusions
                                   [org.clojure/clojure
                                    org.clojure/clojurescript
                                    org.clojure/data.json
                                    com.yetanalytics/xapi-schema]}}
 :aliases
 {:dev
  {:extra-paths ["src/dev"]
   :extra-deps  {cider/piggieback    {:mvn/version "0.5.2"} ; cljs only
                 dorothy/dorothy     {:mvn/version "0.0.7"}
                 criterium/criterium {:mvn/version "0.4.6"} ; clj only
                 com.taoensso/tufte  {:mvn/version "2.2.0"}}}
  :test
  {:extra-paths ["src/test" "src/gen" "test-resources"]
   :extra-deps  {org.clojure/test.check  {:mvn/version "1.1.0"}
                 org.clojure/data.json   {:mvn/version "1.0.0"} ; clj only
                 orchestra/orchestra     {:mvn/version "2021.01.01-1"}
                 olical/cljs-test-runner {:mvn/version "3.8.0"
                                          :exclusions  [org.clojure/clojurescript
                                                        org.clojure/data.json]}
                 com.cognitect/test-runner
                 {:git/url "https://github.com/cognitect-labs/test-runner"
                  :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}
                 com.yetanalytics/datasim
                 {:git/url    "https://github.com/yetanalytics/datasim.git"
                  :sha        "9a4fb7926981b1282cc72aa093bd66a1c57abbd1"
                  :exclusions [org.clojure/test.check
                               com.yetanalytics/project-pan
                               com.yetanalytics/xapi-schema]}}}
  :runner-clj
  {:main-opts  ["-m" "cognitect.test-runner"
                "-d" "src/test"]}
  :runner-cljs
  {:main-opts   ["-m" "cljs-test-runner.main"
                 "-d" "src/test"
                 "-c" "build.test.edn"]}
  :runner-coverage
  {:extra-deps {cloverage/cloverage {:mvn/version "1.2.2"}}
   :main-opts  ["-m" "cloverage.coverage"
                "-p" "src/main"
                "-s" "src/test"]}}}
